$bgcolor: rgb(252, 248, 221);
$menucolorbg: rgb(252, 244, 192);
$menucolorbr: rgb(255, 241, 147);
$menucolorbgh: rgb(255, 242, 154);
$menucolorbrh: rgb(255, 232, 86);
$bgcolor_footer: rgb(241, 241, 241);
$footer_text: rgb(107, 107, 107);
$burger_color: #000000;
$item_color: rgb(255, 248, 201); /* item color */
$item_shadow: rgb(157, 125, 69); /* item shadow */
$hshadow: #5c5547;
$white: #ffffff; /* background site */
$link_hover: rgb(255, 136, 0);
$color_main: rgb(43, 43, 43); /* text color + links */

$font_size: 18px;
$font_size_lg: 16px;
$font_size_md: 14px;

$media_lg: "max-width: 992px";
$media_md: "max-width: 576px";

$max_width: 1440px;
$min_width: 320px;
